.BadgesList {
  margin-bottom: 1rem;
  width: 100%;
}

.BadgesListItem {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #ffff;
  background-clip: border-box;
  border-radius: 0.25rem;
  margin-bottom: 1rem !important;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23);
}

.BadgesListItem__avatar {
  width: 80%;
  background: #a3a3a3;
  border-radius: 50%;
  margin-top: 0.5rem;
}

.BadgesListItem__body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 0.5rem;
}

.BadgesListItem__body-twitter {
  color: #03a9f4;
}
